@require 'nib'

json('../../stylus/vars.json')

.z-hello-world
  width: 300px
  height: 200px
  background: $teal
  position: absolute
  left: 50%
  top: 50%
  margin: -100px 0 0 -150px
  color: $white
  text-align: center
  line-height: 200px
  font-size: $fontSizeXXLarge
